body {
    background-color: rgb(129, 129, 129);
    font-family: "Inter", sans-serif;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}



#cards {
    margin-top: 10%;
    background-color: rgba(39, 39, 39, 0.281);
    height: 350px;
    overflow: hidden;
    padding: 0px 50px;
    white-space: nowrap;
    position: relative; 
}

@keyframes sliding {
    from { transform: translateX(0%);}
    to {transform: translateX(-100%);}
}


#cards-slide {
    
    &:hover .card-group {
        animation-play-state: paused;
    }
}

.card {
    height: 350px;
    width: 250px;
    border-radius: 20px;
    float: left;
    margin-left: 100px;
    background-color: rgba(94, 94, 94, 0.7);
}

.card-group{
    display: flex;
    gap: 50px;
    padding-right: 50px;
    will-change: transform;
    animation: 15s sliding infinite linear;
    display: inline-flex;

}

.pfp{
    position: relative;
    display: inline-block;
    
}

.pfp img{
    width: 250px;
    opacity: 100%;
    border-radius: 20px;
    border-bottom-right-radius: 0px;
    border-bottom-left-radius: 0px;
    -webkit-mask-image: -webkit-gradient(linear, left top, left bottom, from(rgba(0,0,0,1)), to(rgba(0,0,0,0)));
    mask-image: linear-gradient(to bottom, rgba(0,0,0,1), rgba(0,0,0,0));
}

.links img{
    width: 50px;
    margin-left: 95px;
    padding-top: 30px;
}