#projects-container {
    margin-top: 10%;
    padding: 0 50px;
}

.project-card {
    background-color: rgba(94, 94, 94, 0.7);
    border-radius: 20px;
    margin-bottom: 20px;
    overflow: hidden;
}

.project-header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 15px 20px;
    cursor: pointer;
    background-color: rgba(56, 56, 56, 0.281);
}

.project-header h2 {
    margin: 0;
    font-size: 1.5rem;
}

.project-content {
    max-height: 0;
    overflow: hidden;
    transition: max-height 0.3s ease-out;
    padding: 0 20px;
}

.project-content.expanded {
    max-height: 200px;
    padding: 20px;
}

.project-link {
    display: inline-block;
    margin-top: 10px;
    color: #4CAF50;
    text-decoration: none;
}

.project-link:hover {
    text-decoration: underline;
}

.material-icons.expand-icon {
    transition: transform 0.3s ease;
}

.project-content.expanded + .project-header .expand-icon {
    transform: rotate(180deg);
}