body {
    font-family: Arial, sans-serif;
    text-align: center;
    margin: 50px;
}
.logo {
    max-width: 100%;
    height: auto;
    border-radius: 10px;
}
.wrapper {
    display: flex;
    justify-content: flex-start;
    align-items:  center;
    overflow:hidden
}
.text {
    margin-left: 20rem;
    width: 50%;
}
.name {
    text-align: left;
    width: 100%;
    font-size: 36px;
    margin-bottom: 1rem;
}
.description {
    text-align: left;
    width: 330px;
    margin-bottom: 1rem;
}
.roles {
    margin-top: .5rem;
    margin-bottom: .5rem;
}
.founding-father {
    border: solid 2px black;
    width: 130px;
    border-radius: 10px;
    background-color: rgba(255, 0, 0, 0.352);
}
.icon {
    /* margin-top: 4rem; */
    width: 18rem;
    height: 18rem;
}
.links {
    width: fit-content;
}
.link-icon {
    width: 20px;
    height: 20px;
}

@keyframes slide {
    0% { transform: translateX(100%); opacity: 0; }
    8.33% { transform: translateX(0%); opacity: 1; }
    33.33% { transform: translateX(0%); opacity: 1; }
    41.67% { transform: translateX(-100%); opacity: 0; }
    100% { transform: translateX(-100%); opacity: 0; }
  }
.member-wrapper {
    display: grid;
    grid-template-columns: 200px 200px;
    grid-template-areas: "cards";
    width: 50%;
    animation: slideCards 12s, infinite ease-in-out;
}
.member {
    opacity: 0;
    display: flex;
    grid-area: "cards";
    transform: translateX(100%);
    width: fit-content;
    justify-content: flex-start;
    align-items: flex-start;
    transition: transform 1s ease-in-out;
    animation: slide 12s infinite;
}
.member-wrapper .member:nth-child(1) {
    animation-delay: 0s;
}


.member-wrapper .member:nth-child(2) {
    animation-delay: 4s;
}