@import url('https://fonts.googleapis.com/css2?family=DM+Mono:ital,wght@0,300;0,400;0,500;1,300;1,400;1,500&family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap');







body {

	background-image: url("assets/images/landing_bg.jpg");
	background-size: 100%;
	background-repeat: no-repeat;

	font-family: "Inter", sans-serif;

}

.fa-brands {
	margin-top: 35%;
	color: rgb(14, 24, 41);
}

#top-bar-div{

	position: relative;

	z-index: 40;

}

#main-shit{
	animation-name: fadeInUp;
	animation-duration: 2s;
}

@keyframes fadeInUp{
	0%{margin-top: 10%; opacity: 0;}
	100%{margin-top: 0%; opacity: 1;}
}


#top-bar{

	display: flex;

	border-radius: 10px;

	list-style-type: none;

	margin: 0;

	padding: 0;

	overflow: hidden;

	position: fixed;

	top: 0;

	text-align: center;

	margin-left: 5%;

	width: 90%;

	backdrop-filter: blur(5px);

	background-color: rgba(99, 99, 99, 0.3);

}



#bar-btn{

	flex: 0.5;

	display: inline-block;

	text-align: center;

	align-items: center;

	justify-content: flex-end;

}



#bar-btn a {

	text-align: center;

	text-decoration: none;

	align-items: center;

	display: flex;

	background-color: rgba(78, 78, 78, 0.384);

	color: rgb(227, 227, 227);

	justify-content: center;

	padding: 15px 20px;

}



#bar-btn a:focus{

	outline: none;

}



h1{

	color: rgb(227, 227, 227);

}



#bar-btn a:hover{

	background-color: rgb(32, 32, 32);

}



#container-landing{

	margin-top: 50%;

	width: 99%;

	height: 211px;

	position: absolute;

	backdrop-filter: blur(5px);

	background-color: rgba(172, 172, 172, 0.3);

	z-index: 10;

}



.material-icons{

	margin-right: 5px;

}





.center{

	display: block;

	margin-left: auto;

	margin-right: auto;

	width: 100%;

}







.fade-in{

	opacity: 1;

	animation-name: fadeIn;

	animation-iteration-count: 1;

	animation-timing-function: ease-in;

	animation-duration: 2s;

}	



@keyframes fadeIn{

	0% {opacity: 0;}

	100% {opacity: 100%;}

}