body {
    font-family: Arial, sans-serif;
    text-align: center;
    margin: 50px;
    padding: 0;
    background-color: #f9f9f9;
}

.logo {
    max-width: 100%;
    height: auto;
    border-radius: 10px;
    margin: 20px 0;
}

.wrapper {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    overflow: hidden;
    flex-wrap: wrap;
    width: 100%;
}

.text {
    margin-left: 20rem;
    width: 50%;
    text-align: left;
}

.name {
    text-align: left;
    width: 100%;
    font-size: 36px;
    margin-bottom: 1rem;
    color: #333;
}

.description {
    text-align: left;
    width: 330px;
    margin-bottom: 1rem;
    color: #555;
}

.roles {
    margin-top: 0.5rem;
    margin-bottom: 0.5rem;
}

.founding-father {
    border: solid 2px black;
    width: 130px;
    border-radius: 10px;
    background-color: rgba(255, 0, 0, 0.352);
    padding: 5px;
    text-align: center;
}

.icon {
    width: 18rem;
    height: 18rem;
    border-radius: 10px;
    object-fit: cover;
}

.links {
    width: fit-content;
    margin-top: 10px;
}

.link-icon {
    width: 20px;
    height: 20px;
    margin-right: 10px;
}

@keyframes slide {
    0% { transform: translateX(100%); opacity: 0; }
    8.33% { transform: translateX(0%); opacity: 1; }
    33.33% { transform: translateX(0%); opacity: 1; }
    41.67% { transform: translateX(-100%); opacity: 0; }
    100% { transform: translateX(-100%); opacity: 0; }
}

.member-wrapper {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-gap: 20px;
    justify-content: center;
    width: 100%;
    overflow: hidden;
    position: relative;
}

.member {
    opacity: 0;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;
    transform: translateX(100%);
    width: 100%;
    animation: slide 12s infinite;
    background-color: #fff;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    padding: 20px;
}

.member-wrapper .member:nth-child(1) {
    animation-delay: 0s;
}

.member-wrapper .member:nth-child(2) {
    animation-delay: 4s;
}

.member-wrapper .member:nth-child(3) {
    animation-delay: 8s;
}

.member-wrapper .member:nth-child(4) {
    animation-delay: 12s;
}
