@import url('https://fonts.googleapis.com/css2?family=DM+Mono:ital,wght@0,300;0,400;0,500;1,300;1,400;1,500&family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap');

body {

	background-color: black;

	font-family: "Inter", sans-serif;

}
.animbg {
    
    width: 100%;
    height: 100%;
    background-image: url('https://cdn.discordapp.com/attachments/1267123561441656943/1350476179919867914/about_background.png?ex=67d6e073&is=67d58ef3&hm=af7962ab7cbba88c7ccac89f4a99f6e34e4d9177331a0f354cf41e9a821e9e2a&');
    background-size: cover; 
    background-repeat: no-repeat; 
    position: relative;
    animation: scrollBg 30s linear infinite; 
    box-shadow: -30px 0 50px rgba(0, 0, 0, 0.5);
}

.animbg::before,
.animbg::after {
  content: '';
  position: absolute;
  top: 0;
  bottom: 0;
  width: 20%; 
  background: rgba(0, 0, 0, 0.693); 
}

.animbg::before {
  left: 0; 
}

.animbg::after {
  right: 0; 
}


.animbg .shadow {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 20%; 
  right: 20%; 
  background: rgba(0, 0, 0, 0.564); 
  z-index: 0; 
}




@keyframes scrollBg {
    0% {
        background-position: 0 0; 
    }
    100% {
        background-position: 0 100%; 
    }
}
#top-bar{
    background-color: black;

	font-family: "Inter", sans-serif;


	display: flex;

	border-radius: 10px;

	list-style-type: none;

	margin: 0;

	padding: 0;

	overflow: hidden;

	position: fixed;

	top: 0;

	text-align: center;

	margin-left: 5%;

	width: 90%;

	backdrop-filter: blur(5px);

	background-color: rgba(99, 99, 99, 0.3);

}
#top-bar-div{

	position: relative;

	z-index: 40;

}

#bar-btn{

	flex: 0.5;

	display: inline-block;

	text-align: center;

	align-items: center;

	justify-content: flex-end;

}



#bar-btn a {

	text-align: center;

	text-decoration: none;

	align-items: center;

	display: flex;

	background-color: rgba(78, 78, 78, 0.384);

	color: rgb(227, 227, 227);

	justify-content: center;

	padding: 15px 20px;

    

}



#bar-btn a:focus{

	outline: none;

}


#bar-btn a:hover{

	background-color: rgb(32, 32, 32);

}
.material-icons{

	margin-right: 5px;

}

#container-about{

	margin-top: 50%;

	width: 99%;

	height: 211px;

	position: absolute;

	backdrop-filter: blur(5px);

	background-color: rgba(172, 172, 172, 0.3);

	z-index: 10;

}
#zpfp {
    border-radius: 15px;
}
#ppfp {
    border-radius: 15px;
}
#cpfp {
    border-radius: 15px;
}
#rpfp {
    border-radius: 15px;
}
#zzpfp {
    border-radius: 15px;
}
#fpfp {
    border-radius: 15px;
}
#upfp {
    border-radius: 15px;
}
#spfp {
    border-radius: 15px;
}
.cardcont {
    display: flex;
    justify-content: left;
    align-items: center;
    height: 100vh;
    position: relative;
  }
.card {
   position: absolute;
   opacity: 0; 
   transform: translateX(-100%) translateY(-50%); 
   top: 50%; 
   animation-duration: 6s;
   animation-timing-function: ease-in-out;
   animation-fill-mode: forwards; 
  
  }
  #zeldalord, #pixelatedface, #carrot, #reclipse, #zilla, #flop, #uwudwagon, #sqrt{
    position: absolute;
    opacity: 0;
    animation: swoop 6s ease-in-out;
   
  }
  @keyframes swoop {
    0% {
      transform: translateX(-100%) translateY(-50%); 
      opacity: 0; 
    }
    25% {
      transform: translateX(20%) translateY(-50%); 
      opacity: 1; 
    }
    75% {
      transform: translateX(20%) translateY(-50%); 
      opacity: 1; 
    }
    100% {
      transform: translateX(-100%) translateY(-50%); 
      opacity: 0; 
    }
  }  
  #zeldalord {
    animation-delay: 0s;
  }
  
  #pixelatedface {
    animation-delay: 6s; 
  }
  
  #carrot {
    animation-delay: 12s; 
  }
  #reclipse {
    animation-delay: 18s;
  }
  #zilla {
    animation-delay: 24s;
  }
  #flop {
    animation-delay: 30s;
  }
  #uwudwagon {
    animation-delay: 36s;
  }
  #sqrt {
    animation-delay: 42s;
  }
  #rolefounder{
    border-radius: 30px;
    color: white;
    background-color: rgba(0, 123, 255, 0.218);
    border: 2px solid;
    border-color: rgb(1, 31, 55);
    width: 90px;
    align-items: center;
    display: flex;
    justify-content: center;
  }
  #cardnames {
    color: rgb(255, 255, 255);
    font-weight: bolder;
    font-family:Arial, Helvetica, sans-serif
  }